.Track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.TrackAction {
    cursor: pointer;
    padding: .25rem;
    font-size: 1rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    margin-left: auto;

}

.TrackAction:hover {
    color: rgba(265, 265, 265, .5);
}

.TrackInformation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
}

.TrackInformation h3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem;
}

.TrackInformation p {

    font-size: .8rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
}